main {
    height: 100%;
}
.privacy {
    background-color: #F2F2F2;
}
.privacy__container {
    padding: 60px 0 36px 0;
    max-width: 800px;
    margin: auto;
}
.privacy__link {
    color: blue;
}
.privacy__link:visited {
    color: midnightblue;
}
.privacy__link:hover {
    color: midnightblue;
}
.privacy__text-header {
    display: block;
    margin-top: 14px;
}
.privacy__container_horizontal-margin {

}

@media screen and (max-width: 920px) {
    .privacy__container_horizontal-margin {
        margin-left: 30px;
        margin-right: 30px;
    }
}